@model Application_DbAccess.MovieSet

    @{
        ViewData["Title"] = "Movies";
    }


<div class="container-fluid">
    <div class="col-md-2">
        @await Component.InvokeAsync("MovieSets",Model.UserID)
    </div>
    <div class="col-md-10">
        <h2 id="title">@Model.SetName</h2>

        <p class="col-xs-1">
            <a asp-action="Create" asp-route-id="@Model.MovieSetID" asp-controller="MyMovies">
                <img src="~/images/glyphicons-433-plus.jpg" width="20" class="img-responsive" />
            </a>
        </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h5 id="title"><b>Poster</b></h5>
                </th>
                <th>
                    <h5 id="title"><b>Title</b></h5>
                </th>
                <th>
                    <h5 id="title"><b>Year</b></h5>
                </th>
                <th>
                    <h5 id="title"><b>Genre</b></h5>
                </th>
                <th>
                    <h5 id="title"><b>Rating</b></h5>
                </th>
                <th>
                    <h5 id="title"><b>Comment</b></h5>
                </th>
                <th>
                    <h5 id="title"><b>Date Added</b></h5>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MyMovies)
            {
                <tr>
                    <td><img src=@("https://image.tmdb.org/t/p/w92" + item.Movie.MovieIcon) class="img-responsive"></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.MovieName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.MovieYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.MovieGenre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MyMovieRating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MyMovieComment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        <div>
                            <a asp-action="Edit" asp-route-id="@item.MyMovieID" asp-controller="MyMovies">
                                <img src="~/images/glyphicons-151-edit.jpg" width="20" class="img-responsive" />
                            </a> 
                        </div>
                        <div>
                            <a asp-action="Delete" asp-route-id="@item.MyMovieID" asp-controller="MyMovies">
                                <img src="~/images/glyphicons-208-remove.jpg" width="20" class="img-responsive" />
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    </div>
    </div>

